@charset "utf-8";

$section-padding: 1rem;
@import "../../node_modules/bulma/bulma.sass";

html, body
  background-color: rgb(30, 30, 30);

body
  height: 100vh;
  background-color: rgb(30, 30, 30);
  color: rgb(221, 221, 221);

.note-list-item
  background-color: rgb(29, 31, 34);
  padding: 0.5rem 0.1rem;
  margin: 0.5rem 0.75rem 0.5rem 1.75rem
  border-bottom: 0.1rem solid rgb(51, 53, 56);

  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.25;

  h1
    font-weight: 800;
    padding: 0rem 0.5rem;

.navbar-menu, .navbar
  background-color: rgb(38, 40, 43);

.navbar-item
  color: rgb(221, 221, 221);

.note
  padding: 0rem 0.5rem;

.selected
  background-color: rgb(156, 129, 42);
  border-radius: 0.25rem;

.columns
  height: 100%;
  padding: 0rem;
  margin-top: 0.1rem;

  .column
    padding: 0rem;
    background-color: rgb(29, 31, 34);
    border-right: 0.1rem solid rgb(0, 0, 0);

  .column.content
    background-color: rgb(30, 30, 30);

.input, .textarea
  border-color: rgb(0, 0, 0);
  background-color: rgb(29, 31, 34);
  color: rgb(221, 221, 221);
::placeholder
  color: red;
  opacity: 1;

#root
  height: 100%;
